html {
    --pri-col: #e5e3df;
    --sec-col: rebeccapurple;

  color-scheme: light dark;
  background-color: light-dark(var(--pri-col), var(--sec-col))
}

html:has(#mode-switcher [value="light"]:checked){
  color-scheme: light;
}

html:has(#mode-switcher [value="dark"]:checked){
  color-scheme: dark;
}

p {
  width: max-content;
  margin: 3rem auto;
  font-size: 200%;
}
select {
  font-size: inherit;
}